* {
  box-sizing: border-box;
  background-color: black;
  font-family: 'Lato', sans-serif;
}

#container {
  margin: 9em auto 0px auto;
  width: 30em;
  height: 30em;
}

.inner-boxes {
  display: inline-block;
  width: 32%;
  height: 32%;
  margin: 0px auto;
  text-align: center;
  border-color: white;
  color: white;
  font-size: 7em;
  vertical-align: top;
  transition:.5s linear .5s;
}

.pop {
  font-size: 9em;
}

#box-0, #box-3, #box-6 {
  border-right: 1px solid white;
}

#box-0, #box-1, #box-2, #box-3, #box-4, #box-5 {
  border-bottom: 1px solid white;
}

#box-3, #box-4, #box-5 {
  border-top: 1px solid white;
}

#box-1, #box-4, #box-7 {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

#box-2, #box-5, #box-8 {
  border-left: 1px solid white;
}

#box-6, #box-7, #box-8 {
  border-top: 1px solid white;
}

#container_2 {
  width: 30em;
  /*border: solid white 1px;*/
  margin: 2em auto 0 auto;
}

p {
  color: white;
  display: inline;
  font-size: 3em;
  font-weight: 100;
}

#player-score {
  margin: 0 3.35em 0 2.5em;
}

#other-score {
  margin:0;
}

.turn {
  font-weight:normal;
}

img {
  display: inline;
  width: 2em;
  margin: 0 0 0 4.5em;
  -webkit-filter: invert(1);
  filter: invert(1);
  background-color: white;
}

/*footer {
  color: white;
  font-size: 1em;
  font-weight: 100;
  text-align: right;
  margin-top: 5em;
}*/

@media(max-width:30em) {
  #container {
    width: 20em;
    height: 20em;
  }
  #container_2 {
    width: 20em;
  }
  #player-score {
    margin: 0 2.35em 0 2em;
    font-size: 2.5em;
  }
  #other-score {
    margin:0;
    font-size: 2.5em;
  }
  img {
    margin: 0 0 0 3em;
    width: 1.5em;
  }
  .inner-boxes {
    font-size: 4.1em;
    padding-top: 0.1em;
  }
  #container {
    margin-top: 6em;
  }
}
